<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Recipe Book</a>
    </div>

    <!-- The collapse will not work for small screens so I changed for -->
    <!-- the navbar-default -->
    <!-- <div class="collapse navbar-collapse"> -->
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <!-- The routerLink call the path and the routerLinkActive
          mark the active link, it is equal active because this is
          the bootstrap class="active" that give us the effect.
          The routerLinkActive is in the <li> because in the <a> only
          the text changes, and it is very sutil. -->
        <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toogle" role="button" style="cursor: pointer;" >
            Manage  <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Save Data</a></li>
            <li><a style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

