<h2>
  Welcome to Roberto's Recipe Book!
</h2>
<hr>
<p>
  The app was developed with Angular connecting in a Firebase (Realtime Database - NoSQL).
  <br/>
  <br/>
  Features:
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Single Page Application (SPA);
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Firebase email/password authentication;
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Authorization per user;
</p>
<hr>
<p>
  Manual, a LOGGED user can:
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;- See all the recipes from all users.
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Add a new recipe.
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Edit and delete its own recipes.
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Create and see its own shopping-list.
</p>
