<h2>
  Welcome to Roberto's Recipe Book!
</h2>
<hr>
<p>
  The app was developed with Angular connecting in a Firebase (Realtime Database - NoSQL).
  <br/>
  <br/>
  Features:
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Website developed in Angular 7;
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Single Page Application (SPA);
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Bootstrap;
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Firebase Realtime Database (NoSQL) - Cloud solution;
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Firebase email/password authentication;
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Authorization per user;
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Form using Reactive approach for dynamic ingredients controls;
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Forms using Template-Driven approach for other components;
  <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Application published into AWS S3;
</p>
<hr>
<p>
  Manual, a LOGGED user can:
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;- See all the recipes from all users.
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Add a new recipe.
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Edit and delete your own recipes.
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;- Create and see your own shopping-list.
</p>
