<!-- Into the event onSelectItem, which is an Output event emitter,
  we do not need to pass any parameter because the parent component
  recipe-list.component is already performing a loop of the recipes
  so it is not needed a parameter -->
<a href="#"
  class="list-group-item clearfix"
  (click)="onSelected()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ rec.name }}</h4>
    <p class="list-group-item-text">{{ rec.description }}</p>
  </div>
  <span class="pull-right">
    <img
      [src]="rec.imagePath"
      alt="{{ rec.name }}"
      class="img-responsive"
      style="max-height: 50px; margin: auto;">
  </span>
</a>
